@import "tailwindcss";

@theme {
    /* As tuas cores vão criar classes automáticas como bg-fundo ou text-castanho-raiz */
    --color-fundo: #efe5d8;
    --color-verde-raiz: #5F6B4E;
    --color-verde-escuro: #4A543D;
    --color-castanho-raiz: #4a3b32;
    --color-destaque: #fff8e1;

    /* As tuas fontes */
    --font-principal: "Minigap", sans-serif;
    --font-destaque: "MisterGrape", cursive;
}

/* Importação das Fontes */
@font-face {
    font-family: 'Minigap';
    src: url('/fonts/Minigap-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minigap';
    src: url('/fonts/Minigap-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MisterGrape';
    src: url('/fonts/MisterGrape.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilo Base da Página */
body {
    font-family: var(--font-principal);
    background-color: var(--color-fundo);
    color: var(--color-castanho-raiz);
}